@import '../../services/sass/variables'

.dropdown-target
    position: absolute
    z-index: 4
    width: 100%

section.dropdown
    cursor: pointer

    .dropdown-title
        display: flex
        justify-content: space-between

        .dropdown-button  
            margin-right: 10px
            button
                &::before
                    content: $icon_arrowDown
                    color: $color_dark50
                    line-height: 14px
                    font-size: 24px
    
    input        
        cursor: pointer

    .dropdown-input  
        .input-button     
            &::before
                content: $icon_arrowDown
                color: $color_dark50
    &_open
        .dropdown-title
            .dropdown-button 
                button
                    &::before
                        content: $icon_arrowUp
        input
            border-color: $color_dark50
        .dropdown-input 
            .input-button     
                &::before
                    content: $icon_arrowUp
                    color: $color_dark50