@import '../../services/sass/variables'
    
section.priceRange
    display: grid
    grid-template-areas: 'rangeSlider' 'text'
    grid-gap: 15px

    .priceRange-rangeSlider
        grid-area: rangeSlider
        
    .priceRange-text
        grid-area: text
        font-size: 12px
        line-height: 14px