@import '../../services/sass/variables'
    
section.guestsSelect
    position: relative
    .guestsSelect-dropdown
        &.dropdown.dropdown_open
            input
                border-bottom-left-radius: 0px
                border-bottom-right-radius: 0px
    .guestsSelect-counter
        background-color: #fff        
        margin-top: -1px
        border-color: $color_dark50