@import 'form-toggle_button_checked'

=form-toggle_button($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    .form-toggle_button#{$mixinClass}
        position: absolute
        width: 40px
        height: 20px
        margin-top: 2px
        border: 1px solid $color_dark25
        border-radius: 20px
        line-height: 20px
        text-align: center
        font-weight: bold
        display: flex 
        &::before
            font-family: 'Material Icons'
            content: $form-toggle_button
            color: $color_dark25
            font-size: 14px
            line-height: 19px
            margin: 0 2px 0 3px 
        @content