@import form-checkbox_title_rich
    
=form-checkbox_title($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    .form-checkbox_title#{$mixinClass}
        position: relative
        display: grid
        grid-template-columns: 1fr
        padding-top: 3px
        padding-left: 30px
        line-height: 18px
        cursor: pointer
        +form-checkbox_title_rich
        @content