@import '../../services/sass/variables'
    
section.login
    display: flex
    justify-content: center

    .login-content
        max-width: $backgroundMaxWidth

        display: flex
        align-items: center
        justify-content: center
        background-image: url('../../assets/img/registration_login__bg.png')
        background-position: center 702px
        width: 100%
        height: 683px

@media ( max-width: 500px  )
    section.login
        .login-content
            height: auto
            padding: 20px

    