section.login
    .login-container
        h1.login-title Войти
        form.login-form
        form.login-footer(action='./registration.html')
            p.login-text Нет аккаунта на Toxin?
                