=price-element_cost($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    .price-element_cost#{$mixinClass}
        grid-area: 'cost'
        text-align: right
        @content