=price-element_name($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    .price-element_name#{$mixinClass}
        grid-area: 'name'
        line-height: 18px
        @content