=form-selectDate($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    .form-selectDate#{$mixinClass}
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 20px
        @content