@import '../../services/sass/variables'
    
section.input
    position: relative
    display: grid
    grid-template-areas: 'title title' 'input input'
    grid-gap: 5px
    justify-content: space-between
    align-items: center

    .input-title
        grid-area: title        
        font-size: 12px
        line-height: 15px
    .input-subtitle
        grid-area: title
        text-align: right     
        font-size: 12px
        line-height: 15px
        text-transform: uppercase;
        color: $color_dark50

    &:hover,
    &:focus,
    &.input_hovered
        input
            border-color: $color_dark50
        
    input
        grid-area: input
        width: 100%
        height: 44px
        padding: 0 15px
        border: 1px solid $color_dark25
        border-radius: 4px
        outline: none
        font-size: 14px;

        &::placeholder
            color: $color_dark25

        &:disabled
            background-color: transparent

    .input-button
        position: absolute
        right: 0
        bottom: 0
        background-color: transparent
        padding: 0 10px
        height: 44px
        width: 44px
        border-radius: 0
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        &::before     
            font-family: Material Icons           
            font-size: 24px
            line-height: 44px