section.roomInfo
    h2.title #{title}
    ul.list
        each element in list
            li.element
                div.icon(class=element.iconClass)
                h3.name #{element.name}
                p.info #{element.info}
