section.likeButtons
    display: grid
    grid-template-areas: 'title title' '. .'
    grid-column-gap: 10px
    justify-content: start
    .likeButtons-title
        grid-area: title
        margin-bottom: 16px