@import '../../../services/sass/variables'
    
section.input,
    .input-title
        margin-bottom: 4px
        
    .input-node
        font-family: 'Montserrat'
        box-sizing: border-box
        width: 100%
        height: 44px
        padding: 0 15px
        border: 1px solid $color_dark25
        border-radius: 4px
        outline: none

        &::placeholder
            color: $color_dark25

        &:hover,
        &:focus,
        &.input_hovered
            border-color: $color_dark50


section.input
    // фиксы легаси кода
    border: none
    height: auto
    padding: 0

    position: relative

    .input-button
        position: absolute
        right: 0
        padding: 0 10px
        height: 100%
        &::before
            content: $icon_arrowRight
            font-size: 24px
            color: $color_purple