.copyright
    display: flex
    justify-content: space-between
    padding: 25px 0

    .copyright_container_social        
        display: grid
        grid-auto-flow: column
        grid-gap: 23px