=copyright_container_social($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    .copyright_container_social#{$mixinClass}
        display: grid
        grid-auto-flow: column
        grid-gap: 23px
        @content