@import copyright_container_wrap
@import copyright_container_social
    
=copyright($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'
    
    +copyright_container_wrap
    .copyright#{$mixinClass}
        display: flex
        justify-content: space-between
        padding: 23px 0 18px
        +copyright_container_social
        @content