section.info(class=className)
    if comfort
        .info-element
            div.info-icon.info-icon_comfort
            h3.info-name Комфорт
            p.info-text Шумопоглощающие стены
    if convenience
        .info-element
            div.info-icon.info-icon_convenience
            h3.info-name Удобство
            p.info-text Окно в каждой из спален
    if cosiness
        .info-element
            div.info-icon.info-icon_cosiness
            h3.info-name Уют