@import simpleFooter-description
    
=simpleFooter($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    .simpleFooter#{$mixinClass}
        display: grid
        grid-template-columns: 1fr
        grid-gap: 18px
        margin: 100px auto 106px
        width: 560px
        & > *
            justify-self: center
        +simpleFooter-description
        @content