=simpleFooter-description($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    .simpleFooter-description#{$mixinClass}
        text-align: center
        margin-bottom: 10px
        @content