section.room(class=className)
    .room-imageSlider
    .room-header
        .room-info
            h3.room-number № #{number}
            if isLuxury
                p.room-luxury Люкс
        .room-price 
            p.room-cost #{price}₽
            p.room-period в сутки
    .room-footer
        .room-rate
        p.room-reviews 
            b #{reviews} 
            | Отзывов
