@import '../../../services/sass/variables'
    
section.button
    display: flex
    justify-content: center
    align-items: center

    button
        background-color: transparent  
        font-size: 12px
        text-align: center
        font-weight: bold
        color: inherit      
        text-transform: uppercase
        cursor: pointer    

        &::before
            font-family: Material Icons
            font-weight: normal

    &_bordered
        background: $color_purple_gradient
        height: 44px
        border-radius: 50px
        button
            background-color: #fff
            color: $color_purple
            width: calc( 100% -  4px)
            height: calc( 100% -  4px)
            line-height: calc( 100% -  4px)
            margin: 2px
            padding: 0 26px
            border-radius: 50px


    &_filled
        background: $color_purple_gradient
        button
            background-color: transparent
            color: #fff

    &_arrow
        button
            position: relative
            &::before
                position: absolute
                right: 9px
                content: $icon_arrowRight
                height: 100%
                font-size: 24px
