@import '../../services/sass/variables'
    
.formDateSelect
    position: revalite
    display: grid
    grid-template-columns: 1fr
    grid-column-gap: 20px

    .formDateSelect_header
        width: 100%
        display: grid
        grid-row-gap: 5px
        grid-column-gap: 20px
        grid-template-columns: 1fr 1fr
        grid-template-rows: 15px 1fr

        &_single
            grid-template-columns: 1fr
            grid-template-rows: 1fr
    
    .formDateSelect_body
        position: absolute
        z-index: 10
        background-color: #fff
        width: 320px      
        margin-top: 70px
        border: 1px solid rgba(31, 32, 65, 0.25)
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)
        border-radius: 4px
        display: grid
        grid-template-columns: 1fr
        grid-column-gap: 20px

        .formDateSelect_controls
            width: 100%
            display: flex
            justify-content: space-between
            padding: 8px 18px 18px

            .button
                font-weight: bold
                font-size: 12px
                line-height: 15px
                text-transform: uppercase

                &.button_confirm
                    color: $color_purple

                &.button_clear
                    color: $color_dark50