section.buttons
    .buttons-title
        margin-bottom: 15px
    .buttons-list    
        display: grid
        grid-auto-flow: row    
        grid-row-gap: 30px

        .buttons-row
            display: flex
            justify-content: start
            & > *
                &:nth-child(2n)
                    margin-left: 20px
                                    
                