section.buttons(class=className)
    .buttons-list
        .buttons-row.buttons-row_filled
        .buttons-row.buttons-row_bordered
        .buttons-row.buttons-row_default
        .buttons-row.buttons-row_big

