=color-hex($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    .color-hex#{$mixinClass}
        font-size: 18px
        align-self: center
        margin-bottom: 2px
        @content