=calendar_container_controls($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    .calendar_container_controls#{$mixinClass}
        width: 100%
        display: flex
        justify-content: space-between
        padding: 8px 18px 18px
        @content