@import calendar_button_clear
@import calendar_button_confirm
    
=calendar_button($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    .calendar_button#{$mixinClass}
        font-weight: bold
        font-size: 12px
        line-height: 15px
        text-transform: uppercase
        +calendar_button_clear
        +calendar_button_confirm
        @content