section.rateButtons
    display: grid
    grid-template-areas: 'title title' '. .'
    justify-content: start
    grid-column-gap: 20px
    .rateButtons-title
        grid-area: title
        margin-bottom: 16px