section.formElements(class=className)
    .formElements-group.formElements-group_first
        .formElements-column.formElements-column_first
        .formElements-column.formElements-column_central
        .formElements-column.formElements-column_last
    .formElements-group.formElements-group_second