@import '../../../services/sass/variables'

.button
    background-color: inherit
    border: none
    cursor: pointer
    outline-width: 0        
    &::before
        font-family: 'Material Icons'

    &.button_bordered,
    &.button_filled
        background: $color_purple_gradient
        border-radius: 22px
        color: #fff
        font-size: 12px
        font-weight: bold
        text-transform: uppercase

    &.button_bordered
        padding: 2px

        > .button_container
            background-color: #ffffff
            width: 100%
            border-radius: 22px
            color: $color_purple

    &.button_big
        background: $color_purple_gradient
        width: 100%
        height: 44px
        border-radius: 22px
        color: #fff
        font-size: 12px
        font-weight: bold
        text-transform: uppercase

    &.button_icon
        position: relative
        &::before
            display: flex
            align-items: center
            height: 100%
            position: absolute
            font-family: 'Material Icons'
            right: 10px
            top: 0

        &_arrowRight
             &::before
                content: $icon_arrowRight
                font-weight: normal
                font-size: 24px

    // &.button_big
    //     background: $color_purple_gradient
    //     width: 100%
    //     height: 44px
    //     border-radius: 22px
    //     color: #fff
    //     font-size: 12px
    //     font-weight: bold
    //     text-transform: uppercase
    //     padding: 2px

    //     & > .button_container
    //         background-color: #ffffff
    //         width: 100%
    //         height: 100%
    //         line-height: 40px
    //         border-radius: 22px
    //         color: $color_purple