section.registrationForm(class=className)
    h1.registrationForm-title Регистрация аккаунта
    form.registrationForm-form
    form.registrationForm-footer(action='./login.html')
            p.registrationForm-text Уже есть аккаунт на Toxin