section.roomDiagram
    h2.roomDiagram-title Впечатления от номера
    .roomDiagram-chart
        canvas.roomDiagram-canvas
        p.roomDiagram-summury 
            | #{summury}
            | Голосов