@import '../../services/sass/variables'
    
section.roomDiagram
    width: 310px
    .roomDiagram-title
        margin-left: 5px
    .roomDiagram-chart
        position: relative
        display: flex
        justify-content: flex-start
        margin-top: 20px

        .roomDiagram-summury
            position: absolute
            width: 126px
            line-height: 23px
            top: 40px
            left: 0px
            text-align: center
            text-transform: uppercase
            font-size: 12px
            font-weight: bold
            color: $color_purple

            &:first-line
                font-size: 24px
