@import '../../services/sass/variables'
    
section.registration
    display: flex
    justify-content: center

    .registration-content
        max-width: $backgroundMaxWidth

        display: flex
        align-items: center
        justify-content: center
        background-image: url('../../assets/img/registration_login__bg.png')
        background-position: center bottom
        width: 100%
        height: 700px
        
@media ( max-width: 500px )
    section.registration
        .registration-content
            height: auto
            padding: 20px
    