section.registration
    .registration-container
        h1.registration-title Регистрация аккаунта
        form.registration-form
        .registration-footer
            p.registration-text Уже есть аккаунт на Toxin
                