section.registration
    .registration-container
        h1.registration-title Регистрация аккаунта
        form.registration-form
        form.registration-footer(action='./login.html')
            p.registration-text Уже есть аккаунт на Toxin
                