@import '../../../services/sass/variables'
    
section.dateSelect
    display: grid
    position: relative
    grid-template-columns: 1fr 1fr
    grid-template-areas: 'arrival leave' 'single single' 'calendar calendar'
    grid-row-gap: 5px
    grid-column-gap: 20px

    .dateSelect-arrival,
    .dateSelect-leave
        display: none

    .dateSelect-input
        
        &_arrival
            grid-area: arrival
        &_leave
            grid-area: leave
        &_single
            grid-area: single

    
    .dateSelect-dropdown
        
        &_arrival
            grid-area: arrival
        &_leave
            grid-area: leave
        &_single
            grid-area: single

    .dateSelect-calendar
        grid-area: calendar
        position: absolute
        background-color: #fff
        border-color: $color_dark50