section.loginForm
    display: grid
    grid-auto-flow: row
    grid-gap: 19px
    width: 380px
    padding: 39px 29px 30px
    background-color: #fff
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
    border: 1px solid rgba(0, 0, 0, 0.12)
    border-radius: 4px

    .loginForm-form
        display: grid
        grid-auto-flow: row
        grid-gap: 10px

        .loginForm-button
            margin-top: 10px

    .loginForm-footer
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: 10px

        .loginForm-registration
            width: 100px
