@import '../../../services/sass/variables'
    
section.like
    width: 40px
    height: 20px
    background: $color_dark25  
    border-radius: 10px
    cursor: pointer

    .like-border
        display: grid
        grid-template-columns: 20px 1fr
        background-color: #fff
        width: 38px
        height: 18px
        margin: 1px
        border-radius: 10px

        .like-icon
            display: flex
            justify-content: center
            height: 18px

            &:before
                font-family: Material Icons
                content: '\e87e'
                background: $color_dark25
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                font-size: 10px
                line-height: 18px

        .like-value
            height: 18px
            font-size: 10px
            line-height: 20px
            color: $color_dark25                

    &_liked
        background: $color_purple_gradient
        .like-border
            .like-icon
                &:before
                    content: '\e87d'
                    background: $color_purple_gradient
                    -webkit-background-clip: text
                    -webkit-text-fill-color: transparent
            .like-value
                color: $color_purple

