section.findRooms
    display: grid
    grid-auto-flow: row
    grid-gap: 19px
    width: 380px
    padding: 40px 29px 29px
    background-color: #fff
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
    border: 1px solid rgba(0, 0, 0, 0.12)
    border-radius: 4px

    .findRooms-form
        display: grid
        grid-auto-flow: row
        grid-row-gap: 21px

        .findRooms-button
            margin-top: 9px
