@import '../../services/sass/variables'
    
section.index
    display: flex
    justify-content: center   

    .index-content
        max-width: $backgroundMaxWidth

        display: grid
        grid-template-areas: 'findRoom .' '. text'
        justify-content: space-between
        background-image: url('../../assets/img/image3.png')
        background-position: center bottom
        width: 100%
        height: 829px
        padding: 70px 140px 20px

        .index-findRoom
            grid-area: findRoom
            align-self: self-start

        .index-text
            grid-area: text
            width: 300px
            text-align: right
            align-self: self-end
            margin-right: -5px


@media (max-width: 860px) 
    section.index
        .index-content
            grid-template-areas: 'findRoom' 'text'
            justify-content: center
            justify-items: center
            grid-gap: 40px
            height: auto

            .index-text
                text-align: center

@media (max-width: 560px)
    section.index
        .index-content
            padding: 50px 0
            grid-template-areas: 'findRoom'
            .index-text
                display: none

@media (max-width: 380px)
    section.index
        .index-content
            grid-template-areas: 'findRoom'
            padding: 0
            .index-findRoom
                width: 100%
                border: none
                border-top: 1px solid $color_dark10
                border-radius: 0px
                box-shadow: none
                .calendar
                    width: 100%

            

