@import '../../services/sass/variables'
    
section.index
    position: relative
    background-image: url('../../assets/img/image3.png')
    background-position: center bottom
    width: $backgroundMaxWidth
    margin: 0 auto
    height: 829px
    padding: 70px 140px 20px

    .index-container
        display: grid
        grid-template-areas: 'findRoom .' '. text'
        justify-content: space-between
        height: 100%

        .index-findRoom
            grid-area: findRoom
            align-self: self-start

        .index-text
            grid-area: text
            width: 300px
            text-align: right
            align-self: self-end
            margin-right: -5px


    @media (max-width: $backgroundMaxMediaWidth)
        width: 100%

    @media (max-width: 860px)
        height: auto
        .index-container            
            grid-template-areas: 'findRoom' 'text'
            justify-content: center
            justify-items: center
            grid-gap: 40px
            height: 100%

            .index-text
                text-align: center

    @media (max-width: 560px)
        padding: 50px 0
        .index-container
            grid-template-areas: 'findRoom'
            .index-text
                display: none

    @media (max-width: 380px)
        padding: 0
        .index-container
            grid-template-areas: 'findRoom'
            .index-findRoom
                width: 100%
                border: none
                border-top: 1px solid $color_dark10
                border-radius: 0px
                box-shadow: none
                .calendar
                    width: 100%

        

