@import '../../services/sass/variables'
    
section.room
    display: flex
    justify-content: center
    .room-container
        max-width: $backgroundMaxWidth

        display: grid
        width: 100%
        grid-template-areas: 'header' 'content'
        justify-items: center
        .room-header
            grid-area: header
            display: grid
            grid-template-areas: 'first .' 'first .'
            grid-template-columns: 2fr 1fr
            grid-auto-rows: 1fr
            height: 485px
            .room-image 
                width: 100%
                height: 100%
                object-fit: cover
                &:first-child
                    grid-area: first

        .room-content
            max-width: $contentMaxWidth
            padding: $contentPadding

            grid-area: content
            width: 100%
            margin: 70px 0 67px
            
            display: grid
            grid-template-areas: 'about sidebar' 'reviewes sidebar' 'additional sidebar'
            grid-template-columns: 1fr 380px
            grid-column-gap: 70px
            grid-row-gap: 14px

            .room-about
                grid-area: about
                display: grid
                grid-row-gap: 30px
                grid-template-columns: 1fr 1fr

            .room-reviewes
                grid-area: reviewes
            
            .room-additional
                grid-area: additional
                margin-top: 18px

            .room-sidebar
                grid-area: sidebar
                display: flex
                align-items: flex-start

    @media ( max-width: 1160px )   
        .room-container
            .room-header
                height: 400px
            .room-content
                grid-template-areas: 'about sidebar' 'reviewes reviewes' 'additional additional'
                grid-template-columns: 1fr 1fr
                justify-items: center
                grid-column-gap: 0px
                .room-about
                    justify-content: start
                    align-content: start
                    grid-template-columns: 1fr
                    grid-template-rows: 1fr 1fr

    @media ( max-width: 800px )   
        .room-container
            .room-header
                height: 320px
            .room-content
                grid-template-areas: 'sidebar' 'about' 'reviewes' 'additional'
                grid-template-columns: 1fr
                grid-row-gap: 50px

                .room-about
                    grid-template-columns: 1fr 1fr
                    grid-template-rows: 1fr

    @media ( max-width: 660px )  
        .room-container
            .room-header
                height: 260px
            .room-content
                .room-about
                    justify-self: start 
                    grid-template-columns: 1fr

    @media ( max-width: 560px ) 
        .room-container
            .room-content
                .room-additional
                    grid-template-columns: 1fr
                    grid-gap: 30px
                    margin-top: 0

    @media ( max-width: 430px ) 
        .room-container
            .room-header
                height: 180px
            .room-content
                .room-about
                    .room-roomDiagram
                        width: 280px
                .room-sidebar
                    .room-roomSummury
                        width: 100%
                        .calendar
                            width: 100%