section.room
    .room-container
        .room-header
            each src, index in images
                if index < 3
                    img.room-image(src=src)
        .room-content
            .room-about
            .room-reviewes
            .room-additional
            .room-sidebar