mixin footer(extData = {})
    - var data = {attr: {class: 'footer'}}

    if extData
        +mergeData(data, extData)

    section&attributes(data.attr)
        +container({attr:{class:'footer_container_description'}})
            +logo
            .footer_text
                | Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        +container({attr:{class:'footer_container_menu'}})
            +menu({attr:{class:'footer_menu'}})
                +title({
                    attr:{class:'footer_title'},
                    text:{tag:'h3',content: 'navigation'}
                })
                +button({attr:{class:'menu_button'}, content:'About Us'})
                +button({attr:{class:'menu_button'}, content:'News'})
                +button({attr:{class:'menu_button'}, content:'Support'})
                +button({attr:{class:'menu_button'}, content:'Products'})
            +menu({attr:{class:'footer_menu'}})
                +title({
                    attr:{class:'footer_title'},
                    text:{tag:'h3',content: 'about us'}
                })
                +button({attr:{class:'menu_button'}, content:'Who we are'})
                +button({attr:{class:'menu_button'}, content:'Our team'})
                +button({attr:{class:'menu_button'}, content:'Careers'})
                +button({attr:{class:'menu_button'}, content:'Investors'})
            +menu({attr:{class:'footer_menu'}})
                +title({
                    attr:{class:'footer_title'},
                    text:{tag:'h3',content: 'support'}
                })
                +button({attr:{class:'menu_button'}, content:'Documentation'})
                +button({attr:{class:'menu_button'}, content:'Community'})
                +button({attr:{class:'menu_button'}, content:'Get in Touch'})
        +container({attr:{class:'footer_container_subscribe'}})
            +title({
                attr:{class:'footer_title'}, 
                text:{tag:'h3',content: 'Subscribe to our newsletter'}
            })
            .footer_text.footer_text_subscribe
                | Receive our latest news and promotions in your inbox!
            +form
                +form-input({
                    input:{attr:{placeholder:'Your email address'}},
                    button:{enable: true}
                })
            