=footer_text_subscribe($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    &.footer_text_subscribe#{$mixinClass}
        margin-top: 18px
        margin-bottom: 22px
        @content