=footer_menu($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    .footer_menu#{$mixinClass}        
        display: flex
        flex-direction: column
        padding-left: 20px
        & > *
            width: auto
            margin: 10px 0 11px
            text-align: left
        @content