@import '../../../services/sass/variables'
    
.title
    display: flex
    justify-content: space-between
    width: 100%

    .title-text,
    .title-subtext
        align-self: center

    .title-subtext
        color: $color_dark50
        font-weight: normal
        text-align: right