@import '../../../services/sass/variables'
    
.title
    display: flex
    justify-content: space-between
    width: 100%

    .title-subtext
        color: $color_dark50
        font-weight: normal