section.roomSummury
    .header
        .number № #{number}            
            if isLuxury
                p.luxury Люкс
        
        .price #{price}₽
            p.pricePeriod В сутки
    .body
        .dates
        .guests
        .summuryPrice
    .footer
        button.button Забронировать