@import '../../services/sass/variables'
    
section.summuryPrice
    display: grid
    grid-row-gap: 16px
    margin-top: 3px

    .row
        display: grid
        grid-template-areas: 'name info value'
        grid-template-columns: 1fr 20px 80px

        .name
            grid-area: name
            line-height: 18px

        .info
            grid-area: info
            width: 20px
            height: 20px
            border: 1px solid $color_dark25
            border-radius: 10px
            margin-top: -1px

            &::before
                display: block
                content: 'i'
                width: 19px
                height: 14px
                margin-top: -2px
                font-size: 12px
                text-align: center
                color: $color_dark25

        .value
            grid-area: value
            text-align: right
            line-height: 18px
    .summury
        margin-top: 14px
        height: 18px
        background-color: #fff

        display: flex
        flex-direction: row
        justify-content: space-between
        border-bottom: 1px dashed $color_dark25

        p
            display: inline-block
            font-weight: bold
            font-size: 19px
            background-color: inherit
            height: 22px
            padding: 0 5px 0 0

            &:last-child
                padding: 0 0 0 5px