section.smallRoom&attributes(attr)
    .smallRoom-slider
    .smallRoom-header
        span.smallRoom-room
            | № #{number}
            p.smallRoom-roomLuxury #{ isLuxury ? 'Люкс' : '' }
        span.smallRoom-price
            | #{price}₽
            p.smallRoom-pricePeriod в сутки
    .smallRoom-footer
        .smallRoom-rating
        span.smallRoom-reviews
            p.smallRoom-reviewsNumber #{reviews}
            | Отзывов