@import '../../../services/sass/variables'
    
section.facilities
    position: relative
    .facilities-dropdown
        &.dropdown.dropdown_open
            input
                border-bottom-left-radius: 0px
                border-bottom-right-radius: 0px
    .facilities-counter
        background-color: #fff        
        margin-top: -1px
        border-color: $color_dark50