@import '../services/sass/variables'
    
.room
    display: grid
    grid-template-areas: 'about sidebar' 'reviewes sidebar' 'additional sidebar'
    grid-template-columns: 710px 380px
    grid-g
    grid-column-gap: 70px
    grid-row-gap: 15px
    padding: 70px 0 67px

    >.about
       grid-area: about
       display: grid
       grid-template-columns: 1fr 1fr

    >.reviewes
        grid-area: reviewes
    
    >.additional
        grid-area: additional

    >.sidebar
        grid-area: sidebar

        background-color: $color_dark25