.room
    display: grid
    grid-template-areas: 'about sidebar' 'reviewes sidebar' 'additional sidebar'
    grid-template-columns: 1fr 380px
    grid-gap: 40px

    .about
       grid-area: about
       height: 200px

       background-color: grey

    .reviewes
        grid-area: reviewes
        height: 200px

        background-color: grey
    
    .additional
        grid-area: additional
        height: 200px

        background-color: grey

    .sidebar
        grid-area: sidebar

        background-color: grey