.roomReviewes
    display: grid
    grid-template-areas: 'title amount' 'list list'
    grid-template-columns: 1fr 1fr

    .roomReviewes-title
        grid-area: title
        margin-bottom: 20px
    .roomReviewes-amount
        grid-area: amount
        text-align: right

    .roomReviewes-list
        grid-area: list
        display: grid
        grid-gap: 20px

        .roomReviewes-element
            display: grid
            grid-template-areas: 'icon name' 'icon date' 'sidebar text'
            grid-template-columns: 48px 1fr
            grid-gap: 10px

            .roomReviewes-icon
                grid-area: icon
                width: 48px
                height: 48px
                border-radius: 24px

            .roomReviewes-name
                grid-area: name
                margin-top: 3px
                margin-bottom: -3px

            .roomReviewes-date
                grid-area: date

            .roomReviewes-sidebar
                grid-area: sidebar
                display: flex
                flex-direction: column
                align-items: center

            .roomReviewes-text
                grid-area: text