@import '../../services/sass/variables'

section.roomPhotos
    display: grid
    grid-gap: 0px
    grid-template-areas: 'first .' 'first .'
    grid-template-columns: 2fr 1fr
    grid-template-rows: 1fr 1fr

    .roomPhotos-image
        object-fit: cover
        &:first-child
            grid-area: first
        &:last-child
            margin-top: -1px

