section.copyright
    p.copyright-text Copyright © 2018 Toxin отель. Все права зачищены.
    nav.copyright-socials
        each page in socialPages
            a.copyright-social(class='copyright-social_'+page.icon, href=page.src, target='_blank')