@import 'form-radio_button_checked'
    
=form-radio_button($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    .form-radio_button#{$mixinClass}
        position: absolute
        width: 20px
        height: 20px
        line-height: 18px
        margin-top: 2px
        border: 1px solid $color_dark25
        border-radius: 10px
        text-align: center
        font-size: 14px
        @content