@import '../../services/sass/variables'

section.header
    width: $width_content
    margin: 0 auto

    display: grid
    grid-template-areas: 'link navigation .'
    grid-template-columns: 120px 1fr 303px
    grid-template-rows: 40px
    grid-gap: 10px
    padding: 15px 140px
    align-items: center

    .header-link
        grid-area: link
        display: flex
        align-items: center
    .header-navigation
        grid-area: navigation

    .header-authorization
        display: flex
        flex-direction: row
        justify-content: space-between

        .header-button
            height: 34px

            &_login
                width: 87px

            &_registration
                width: 196px

