@import 'form-rate_button_checked'
    
=form-rate_button($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    .form-rate_button#{$mixinClass}
        width: 20px
        height: 20px            
        &::before
            content: $form-rate_button
            background: linear-gradient(45deg, #8BA4F9 0%, $color_purple 100%)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            color: $color_purple
            font-size: 24px
            text-align: center
        +form-rate_button_checked
        @content