mixin form-rate(extData = {})
    -
        var data = {
            attr: {class: 'form-rate'},
            label: {attr:{class: 'form-rate_label'}},
            title: {attr:{class: 'form-rate_title'}},
            input: {attr:{class: 'form-rate_input', type:'radio'}},
            button: {attr:{class: 'form-rate_button'}}
        }

    if extData
        +mergeData(data, extData)

    div&attributes(data.attr)
        - for (let i = 1; i <= 5; i++) {
            +input(data.input)
            +button(data.button)
        - }