@import 'form-rate_input'
@import 'form-rate_button'
    
=form-rate($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    .form-rate#{$mixinClass}
        display: grid
        grid-template-columns: repeat(5, 20px)
        grid-gap: 4px
        +form-rate_input
        +form-rate_button
        @content