@mixin header-navigation
    .header-navigation
        grid-area: navigation
        display: flex
        flex-direction: row
        justify-content: flex-end
        align-items: center

        .navigation-link
            text-decoration: none
            color: $color_dark50
            padding: 0 10px
            &:hover
                color: $color_purple
                transition: .2s

        .navigation-link_dropdown
            padding: 5px 20px
            border-bottom: 1px solid $color_dark5
            white-space: nowrap
            &:last-child
                border-bottom: none

        .navigation-link_title
            position: relative
            margin-right: 24px
            &::after
                position: absolute
                font-family: Material Icons
                content: '\e5cf'
                font-size: 24px            

        .navigation-dropdown
            position: relative
            padding: 10px 0
            &:hover
                .navigation-link_title
                    &::after
                        content: '\e5ce'
                .dropdown-list
                    display: grid

            .dropdown-list
                position: absolute
                background-color: #fff
                border: 1px solid $color_dark5
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1)
                top: 40px

                display: none //grid
                grid-auto-flow: row