@mixin header-authorization
    .header-authorization
        grid-area: authorization
        display: flex
        justify-content: flex-end
        align-items: center

        .header-button_login

        .header-button_registration
            margin-left: 20px

