@import '../../services/sass/variables'
    
section.search
    display: grid
    grid-template-areas: 'filter results'
    grid-template-columns: 266px 1fr
    grid-gap: 60px
    width: $width_content
    padding: 26px 140px
    .search-filter
        grid-area: filter
        display: grid
        grid-auto-flow: row
        grid-row-gap: 16px

        .search-dateSelect
            .dateSelect-calendar
                width: 320px

        .search-priceRange,
        .search-checkboxes,        
        .search-facilities,
        .search-additionalFacilities
            margin-top: 15px

        .search-availabilities,
            margin-top: 30px

    .search-results
        grid-area: results