section.search(class=className)
    .search-container
        .search-filter
            button.search-button.search-button_hideFilter
        .search-content
            button.search-button.search-button_showFilter Фильтр
            h1.search-title Номера, которые мы для вас подобрали
            .search-results
            .search-paginator