@import '../../services/sass/variables'
    
section.search
    display: grid
    grid-template-areas: 'filter title' 'filter results' 'filter paginator'
    grid-template-columns: 266px 1fr
    grid-column-gap: 60px
    grid-row-gap: 20px
    width: $width_content
    padding: 26px 140px

    .search-title
        grid-area: title
        margin-top: 5px
    .search-filter
        grid-area: filter
        display: grid
        align-content: start

        .search-dateSelect
            .dateSelect-calendar
                width: 320px

        .search-guestsSelect,
            margin-top: 15px

        .search-priceRange
            margin-top: 32px

        .search-availabilities
            margin-top: 47px
        .search-checkboxes,        
        .search-facilities,
        .search-additionalFacilities
            margin-top: 30px

    .search-results
        grid-area: results
        display: grid
        grid-template-columns: repeat( 3 , 1fr )
        grid-gap: 20px 12px
        align-content: start

    .search-paginator
        grid-area: paginator
        margin-top: 19px
