section.footer
    .footer-about
        img.logo(src='./img/logo.svg')
        p.footer-text
            | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    nav.footer-nav
        each group in menuList
            .footer-group
                h3.footer-title #{group[0].name}
                each link, index in group
                    if index > 0 
                        a.footer-link(href=link.src) #{link.name}
    .footer-subscribe
        h3.footer-title Подписка
        p.footer-text
            | Получайте специальные предложения и новости сервиса
        form.footer-form
            section.footer-input