section.footer
    .footer-about
        img.logo(src='./img/logo.svg')
        p.footer-text
            | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    nav.footer-nav
        each group in menu
            - const [title, href, links] = group
            .footer-group
                h3.footer-title #{title}
                each link in links
                    - const [name, href] = link
                    a.footer-link(href=href) #{name}
                        
    .footer-right
        h3.footer-title Подписка
        p.footer-text
            | Получайте специальные предложения и новости сервиса
        form.footer-subscribe(action='./subscribe.html' method='post')