section.copyright
    p.copyright-text Copyright © 2018 Toxin отель. Все права зачищены.
    .copyright-socials
        a.copyright-link.copyright-link_twitter(href='https://twitter.com', target='_blank')
        a.copyright-link.copyright-link_facebook(href='https://facebook.com', target='_blank')
        a.copyright-link.copyright-link_instagram(href='https://instagram.com', target='_blank')
            