mixin room(extData = {})
    - var data = {attr: {class: 'room'}}

    if extData
        +mergeData(data, extData)

    section&attributes(data.attr)
        +slider({attr:{class:'room_slider'}})
            +image({attr:{src:'img/room1.png'}})
            +image({attr:{src:'img/room2.png'}})
            +image({attr:{src:'img/room1.png'}})
            +image({attr:{src:'img/room2.png'}})
        +container({attr:{class: 'room_container_body'}})
            +price-title({
                attr: {class: 'room_price-title'},
                title_room: {
                    text: {content: '№ 888'},
                    subtext: {content: 'Люкс'}
                },
                title_price: {
                    text: {content: '9 999₽'},
                    subtext: {content: 'В сутки'}
                }
            })
            +container({attr:{class:'room_container_rate'}})
                +form()
                    +form-rate({
                        attr: {class: 'form-rate_fourStars'},
                        input:{
                            attr:{name:'roomRate'}
                        }
                    }) 
                +title({
                    attr: {class: 'room_title'},
                    text: {content: '145'},
                    subtext: {content: 'Отзывов'}
                })