=form-quantity_button_confirm($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    &.form-quantity_button_confirm#{$mixinClass}
        width: auto
        padding: 0
        border: none
        border-radius: 0
        self-align: right
        &:before
            content: 'Применить'
            font-size: 12px    
            line-height: 15px
            font-weight: bold
            text-transform: uppercase
            color: $color_purple
        @content