=form-quantity_element($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    .form-quantity_element#{$mixinClass}
        display: grid
        grid-template-columns: 1fr 30px 30px 30px
        width: 100%
        padding-left: 8px
        font-weight: bold
        line-height: 30px
        color: $color_dark
        @content