@import '../../services/sass/variables'

.menu
    display: grid
    grid-auto-flow: column
    grid-gap: 20px

    .menu_dropdown
        font-family: 'Montserrat'
        font-size: 14px
        line-height: 17px
        color: $color_dark50
        margin-top: 12px

        .dropdown_container
            position: absolute
            border: 1px solid $color_dark5
            width: 200px
            margin-top: 20px
            z-index: 1

            > *
                width: 100%
                padding: 10px 0
                background-color: #fff
                border-bottom: 1px solid $color_dark5

                &:last-child
                    border-bottom: none

    .menu_button
        font-family: 'Montserrat'
        font-size: 14px
        line-height: 17px
        color: $color_dark50
        
        &.menu_button_selected
            color: $color_dark75
            font-weight: bold