@import '../../services/sass/variables'

.menu
    display: grid
    grid-auto-flow: column
    grid-gap: 20px

    .menu_dropdown
        font-family: 'Montserrat'
        font-size: 14px
        line-height: 17px
        color: $color_dark50
        margin: 12px 0

        .dropdown_header
            .title
                margin-right: 24px
            .button
                padding: 0

        .dropdown_body
            position: absolute
            border: 1px solid $color_dark5
            width: 200px
            margin-top: 27px
            z-index: 1

            > *
                width: 100%
                padding: 10px 0
                background-color: #fff
                border-bottom: 1px solid $color_dark5

                &:last-child
                    border-bottom: none

        .dropdown_title
            .button
                margin-right: 0
                margin-top: 4px

    .menu_button
        font-family: 'Montserrat'
        font-size: 14px
        line-height: 17px
        color: $color_dark50
        
        &.menu_button_selected
            color: $color_dark75
            font-weight: bold

    &.menu_column
        display: flex
        flex-direction: column
        padding-left: 20px

        & > button
            width: auto
            margin: 10px 0 13px
            text-align: left
            color: $color_dark50
    
        .menu_title
            margin: 5px 0 12px
            font-weight: bold
            font-size: 12px
            line-height: 15px
            text-transform: uppercase