@import '../../services/sass/variables'
    
section.toggle
    display: grid
    cursor: pointer
    grid-template-areas: 'button text'
    grid-template-columns: 40px 1fr
    align-items: center
        
    .toggle-button
        grid-area: button
        width: 40px
        height: 20px
        padding: 0 3px
        border: 1px solid $color_dark25
        border-radius: 10px
        display: flex
        justify-content: flex-start
        align-items: center

        &::before
            display: block
            content: '\00a0'
            width: 12px
            height: 12px
            border-radius: 6px
            background-color: $color_dark25

        &_checked
            border-color: $color_purple
            justify-content: flex-end
            &::before
               background: $color_purple_gradient


    .toggle-input
        display: none

    .toggle-text
        grid-area: text
        margin-top: -2px
        margin-left: 10px
        font-size: 14px