@import '../../services/sass/variables'
    
section.cards
    width: $width_content
    margin: 0 auto
    padding: 150px 140px 140px
    background-color: #E5E5E5
    display: grid
    grid-template-columns: 380px 380px 320px
    grid-gap: 40px
    align-items: start

    .cards-column
        display: grid
        grid-gap: 40px