@import '../../../services/sass/variables'

.dropdown
    position: relative

    .dropdown_container
        width: 100%

        &.dropdown_container_hidden
            display: none

    .dropdown_button
        &::before
            content: $icon_dropdown-button
            font-size: 24px
            line-height: 16px
            color: $color_dark50

        &.dropdown_button_reverse
            &::before
                content: $icon_dropdown-button_reverse