@import '../../../../services/sass/variables'

.form-slider
    display: grid
    margin-top: 10px

    .form-slider_footnote
        font-size: 12px
        line-height: 14px

    .title
        margin-bottom: 24px

        .title-subtext
            font-size: 12px
            line-height: 15px

    .form-slider_container
        margin-bottom: 15px
        
        &.ui-slider
            height: 6px       
            border: 1px solid $color_dark25
            border-radius: 5px

            .ui-slider-handle
                background: linear-gradient(45deg, #66D2EA 0%, $color_green 100%)
                width: 14px
                height: 14px
                border: 2px solid #ffffff
                border-radius: 10px
                cursor: pointer
                margin-top: -1px

            .ui-state-focus
                outline: none

            .ui-slider-range
                height: 6px   
                background: linear-gradient(45deg, #66D2EA 0%, $color_green 100%)
                margin-top: -1px