@import header_authorization_button
    
=header_authorization($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    .header_authorization#{$mixinClass}
        display: grid
        grid-auto-flow: column
        grid-gap: 20px
        margin: 3px 0
        +header_authorization_button
        @content