//- mixin header(extData = {})
//-     - var data = {attr: {class: 'header'}}

//-     if extData
//-         +mergeData(data, extData)

//-     section&attributes(data.attr)
//-         +logo
//-         +container({attr:{class:'header_controls'}})
//-             +menu
//-                 +button({
//-                     attr:{class:'menu_button menu_button_selected'},
//-                     content: 'Home'
//-                 })
//-                 +button({
//-                     attr:{class:'menu_button'},
//-                     content: 'About Us'
//-                 })
//-                 +dropdown({
//-                     attr: {class: 'menu_dropdown'},
//-                     title:{
//-                         text: {content: 'Services'}
//-                     }
//-                 })
//-                     +button({
//-                         attr:{class:'menu_button'},
//-                         content: 'Services'
//-                     })
//-                     +button({
//-                         attr:{class:'menu_button'},
//-                         content: 'Documentation'
//-                     })
//-                     +button({
//-                         attr:{class:'menu_button'},
//-                         content: 'Documentation'
//-                     })
//-                     +button({
//-                         attr:{class:'menu_button'},
//-                         content: 'Documentation'
//-                     })
//-                     +button({
//-                         attr:{class:'menu_button'},
//-                         content: 'Documentation'
//-                     })
//-                 +button({
//-                     attr:{class:'menu_button'},
//-                     content: 'Careers'
//-                 })
//-                 +button({
//-                     attr:{class:'menu_button'},
//-                     content: 'News'
//-                 })
//-                 +button({
//-                     attr:{class:'menu_button'},
//-                     content: 'Documentation'
//-                 })
//-             +container({attr:{class:'header_authorization'}})
//-                 +button({
//-                     attr:{class:'button_bordered header_authorization_button header_authorization_button_bordered'},
//-                     content: 'LOGIN'
//-                 })
//-                 +button({
//-                     attr:{class:'button_filled header_authorization_button'},
//-                     content: 'REGISTER'
//-                 })
//-             +container({attr:{class:'header_user header_hidden'}})
//-                 | Cosmin Negoita

section.header&attributes(attr)