@import header_user
@import header_hidden
    
.header
    width: 100%
    display: flex
    justify-content: space-between

    .header_controls
        display: grid
        grid-auto-flow: column
        grid-gap: 20px