@import '../../services/sass/variables'
    
.content
    position: relative
    width: 100%
    height: 100%

    .content_footname
        position: absolute
        bottom: 0
        right: 0
        width: 297px
        text-align: right
        color: $color_dark75      

    &.content_search
        display: grid
        grid-template-areas: 'filters title' 'filters results' 'filters pagination'
        grid-template-columns: 266px auto
        grid-column-gap: 60px
        grid-row-gap: 20px
        margin-bottom: 70px

        .content_search_filters
            grid-area: filters
            display: flex
            flex-direction: column
            & > *
                margin-bottom: 20px

        .content_search_title
            grid-area: title
        
        .content_search_results
            grid-area: results
            display: flex
            flex-flow: row wrap
            align-content: flex-start
            align-items: flex-start

            & > * 
                // responsive value
                margin-bottom: 22px   
                &:nth-child(3n+2)
                    margin-left: 12px
                    margin-right: 12px

        .content_search_pagination
            grid-area: pagination
            display: flex
            align-content: flex-start