@import '../../services/sass/variables'
    
.paginator
    display: grid
    grid-auto-flow: row
    grid-row-gap: 8px
    justify-content: start
    .paginator-buttons
        display: flex
        justify-content: center
        align-items: center

        .paginator-button,
        .paginator-dots
            background: none
            border: none
            outline: none
            width: 40px
            height: 40px
            border-radius: 22px
            color: $color_dark50
            cursor: pointer

        .paginator-button
            &:hover
                background-color: $color_dark5

            &_previous,
            &_next,
            &_current
                color: #fff

            &_previous,
            &_next
                background: $color_green_gradient
                &::before
                    font-family: 'Material Icons'
                    font-size: 24px
                    line-height: 40px

            &_previous::before
                content: $paginator-button_previous
            &_next::before
                content: $paginator-button_next

            &_current
                font-weight: bold
                background: $color_purple_gradient        

        .paginator-dots
            cursor: auto

    .paginator-info
        display: flex
        justify-content: center

