@import '../../services/sass/variables'
    
section.userMenu
    padding-left: 30px
    border-left: 1px solid $color_dark10
    color: $color_dark50

    .userMenu-username        
        line-height: 30px